@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

/* ---------MAIN STYLES----------- */

body {
    font-size: 16px;
    line-height: 32px;
    font-family: Heebo;
    color: #000;
    background-color: #FFECD1;
}

h1{
    font-size: 2.4rem;
    color: #fff;
}

h2 {
    font-size: 2.0rem;
    text-align: center;
    border-bottom: 2px solid #bbb;
}

/*header {
    display: flex;
    flex-direction: row;
}*/

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 800px;
}

header, footer, footer a {
    text-align: center;
    background-color: rgb(81, 155, 224);
    color: whitesmoke;
    border-radius: 8px;
}

header img {
    width: 200px;
    height: auto;
    /* float: right; */
    border-radius: 6px;
    box-shadow: 5px 5px 5px grey;
}

footer {
    font-size: smaller;
}

ul {
    margin: 0 auto;
    max-width: 300px;
}